<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='tardis.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>___TARDIS___</title>
</head>

<body>
    <div class="container">
        <div class="header">Your TARDIS</div>
        <div class="controls">Pick a Color
            <input type="color" id="window-color-picker" value="#FFFFFF">
            <!-- Range control -->
            <input type="range" id="brightness" min="0" max="255" value="255">
        </div>
        <div class="tardis">
            <div class="bottom-layer">
                <object id="window-color" type="image/svg+xml"
                    data="{{ url_for('static', filename='window_color.svg') }}" width="80%" height="80%"></object>
            </div>
            <div class="top-layer">
                <object id="tardis-object" type="image/svg+xml" data="{{ url_for('static', filename='TARDIS.svg') }}"
                    width="80%" height="80%"></object>
            </div>

        </div>
        <div class="patterns">Pre-Sets
            <button class="preset-button">Rainbow</button>
            <button class="preset-button">Flash</button>
            <button class="preset-button">Pulse</button>
            <button class="preset-button">Party</button>
        </div>
        <div class="footer">
            <button class="control-button">Leave</button>
            <button class="control-button">Arrive</button>
            <button class="control-button">Play Sound</button>
        </div>

    </div>
    <script>

        var brightnessInput = document.getElementById("brightness");
        var prevBrightnessSliderValue = 255; // Initial state


        var colorInput = document.getElementById("window-color-picker");
        // Event listener for color changes
        colorInput.addEventListener("input", function () {
            // Get approx brightness from chosen color. Use this to set the brightness slider to match
            newColor = tinycolor(colorInput.value);
            newColorBrightness = newColor.getBrightness();
            mappedBrightness = rangeMap(newColorBrightness, 0, 255, 0, 100);
            // console.log("New color            ", newColor);
            // console.log("New color brightness ", Math.trunc(newColorBrightness));
            // console.log("Mapped brightness    ", Math.trunc(mappedBrightness));

            updatePathColor(colorInput.value);
            currentColor = colorInput.value;
            // Set the brightness slider to match the new color brightness
            brightnessInput.value = newColorBrightness;
        });

        // Add an event listener for brightness changes
        brightnessInput.addEventListener("input", function () {
            // Access the current value of the range input
            currentColor = tinycolor(colorInput.value);
            newBrightnesssValue = brightnessInput.value;
            brightnessDelta = Math.abs(prevBrightnessSliderValue - newBrightnesssValue);

            // console.log("Prev: ", prevBrightnessSliderValue);
            // console.log("New: ", newBrightnesssValue);
            // console.log("Delta ", brightnessDelta);

            // Brighten i.e. going right
            if (newBrightnesssValue > prevBrightnessSliderValue) {
                prevBrightnessSliderValue = prevBrightnessSliderValue + 1;
                // Call bright function and use "delta" as value
                newColor = currentColor.lighten(brightnessDelta);
            }
            else if (newBrightnesssValue < prevBrightnessSliderValue) {
                prevBrightnessSliderValue = prevBrightnessSliderValue - 1;
                // Call darken function and use "delta" as value
                newColor = currentColor.darken(brightnessDelta);
            }
            console.log("New color ", newColor.toString("rbgb"));
            colorInput.value = newColor;
            // updatePathColor(newColor);
            prevBrightnessSliderValue = newBrightnesssValue;
        });

        // update the CSS Window object to match selected color
        function updatePathColor(newColor) {
            var object = document.getElementById("window-color");
            var svgDoc = object.contentDocument;
            // Find the specific path element within the SVG (you may need to adjust the selector)
            var pathElement = svgDoc.querySelector("path");
            // Update the path color
            pathElement.style.fill = newColor; // You can set any desired color or use a function to generate one 
            // updateTARDIS(newColor);
        };

        function updateTARDIS(newColor) {
            console.log("Changing TARDIS:", newColor);

            // Update physucal TARDIS colors
            // build a callback URL object, send new color via Parameter          
            fetch('/tardis/color', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'newColor=' + newColor,
            })
                .then(response => {
                    // Check if the response is a JSON
                    const contentType = response.headers.get('content-type');
                    if (contentType && contentType.indexOf('application/json') !== -1) {
                        return response.json();
                    } else {
                        // If not JSON, return the plain text
                        return response.text();
                    }
                })
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.log(error);
                    console.error('Error:', error);
                });
        };

        // Function to map one tange 1-255 into another 0-100
        // We use this to map from a brightness of 0-2255 to a value of 0-100 
        // foi rthe range controller
        function rangeMap(number, inMin, inMax, outMin, outMax) {
            return (number - inMin) * (outMax - outMin) / (inMax - inMin) + outMin;
        }

    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.1/tinycolor.min.js"></script>
</body>